
<form >
    <img src="assets/cliente.png">
  
    <label for="nomePessoa">Nome:</label>
    <input type="text" id="nomePessoa" formControlName="nomePessoa" placeholder="Nome" class="form-control">
    
    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" formControlName="cpf" placeholder="CPF" class="form-control">
    
    <label for="idade">Idade:</label>
    <input type="number" id="idade" formControlName="idade" placeholder="Idade" class="form-control">
  
    <label for="estado">Estado:</label>
    <input type="text" id="estado" formControlName="estado" placeholder="Estado" class="form-control">
  
    <label for="pais">Pais:</label>
    <input type="text" id="pais" formControlName="pais" placeholder="Pais" class="form-control">
    
    <!-- Mais campos do formulário aqui -->
  
    <button type="submit" class="btn btn-primary">Enviar</button>
    <button type="submit" class="btn btn-secondary">Cancelar</button>
    <button type="submit" class="btn btn-danger">Remover</button>
    <button type="submit" class="btn btn-warning">Alterar</button>
  

  </form>
  

